#onglet-boutons {
    overflow: hidden;
    padding-left: 0;
}

#onglet-boutons li {
    text-align: center;
    width: 11%;
    float: left;
    list-style: none;
    background: #B8DAEF;
    margin-right: 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#onglet-boutons li a {  
    text-decoration: none;
    padding: 15px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    display: block;
    background: #B8DAEF;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
}

#onglet-boutons li:first-child a {
    border-left: 1px solid #CCC;
}

#onglet-boutons li a.active {
    background: #35B3C5;
    margin-bottom: -3px;
}

#onglet-content {
    min-height: 520px;
    padding: 10px;
    margin-top: -1px;
    -moz-border-radius: 0 0 5px 5px;
    width: 100%;
    background: white;
}

input[type="button"][disabled] {
    height: 33px;
}

#onglets{
    margin-top: 2%;
}

#onglet-content p{
    font-style: italic;
    margin-left: 11px;
}

#ode-import-table_length label {
    width: 180px;
}
  
#ode-import-table_wrapper select {
width: 35%;
line-height: 16px;
}

