
div[role="ode-modal-page"][data-route="documents"] tr {
    height: 65px;
    text-align: center;
}

div[role="ode-modal-page"][data-route="documents"]
tr
input[type="number"] {
    background: transparent;
    border: none;
    line-height: 28px;
    min-height: 28px;
    width: 80px;
    text-align: center;
}

div[role="ode-modal-page"][data-route="documents"] tr p {
    font-size: 10px;
    margin: 0;
    font-style: italic;
}

.ode-modal-icon-success {
    font-size: 15px;
    color: #28a745;
}
.ode-modal-icon-error {
    font-size: 15px;
    color: #dc3545;
}
.ode-modal-icon-warning {
    font-size: 15px;
    color: #ffc107;
}
  