.ode-modal-header {
  text-align: center;
}

.ode-modal-header h2 {
  font-size: 24px;
  margin-top: 5px;
}

.ode-modal-pages {
  width: 100%;
  height: 88%;
}

.ode-modal-page {
  width: 100%;
  height: 95%;
  overflow-y: scroll;
}

.ode-modal-empty {
  color: #534d64;
  font-weight: 900;
  font-size: 15px;
}

/************************** Page footer ****************************/

[role="ode-modal-information"] i {
  font-size: 20px;
  color: #f16566;
}

[role="ode-modal-information"] h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

.ode-modal-boutons {
  display: inline-block;
  float: right;
  padding: 1%;
}

[role="ode-modal-boutons"] button {
  background: #f08377;
}

/************************** Page loading ****************************/

div[role="ode-modal-page"][data-route="loading"] {
  overflow-y: unset;
}

.ode-loading-message {
  text-align: center;
  font-size: 17px;
  /* margin-top: 5%; */
  color: #606060;
  font-weight: initial;
  font-family: monospace;
  margin: 3% 10% 3% 10%;
}

.ode-loading-pourcentage {
  transition-duration: 1s;
  text-align: center;
  font-size: 48px;
  color: #606060;
  font-weight: initial;
  font-family: none;
  /* margin-bottom: 2%; */
  margin: 10% 10% 2% 10%;
}

.ode-loading-container {
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 2% 10% 3% 10%;
}

.ode-loading-bar {
  border-radius: 25px;
  transition-duration: 1s;
  font-weight: bold;
  width: 0%;
  height: 40px;
  background-color: #5cf1c2;
  text-align: center;
  line-height: 40px;
  color: rgb(17 3 8);
}

/************************** Page erreur ****************************/

div[role="ode-modal-page"][data-route="erreur"] h3 {
  text-align: center;
  font-size: 17px;
  margin-top: 5%;
  font-weight: bold;
}

div[role="ode-modal-page"][data-route="erreur"] p {
  font-style: italic;
}

div[role="ode-modal-page"][data-route="erreur"] {
  text-align: center;
}

/************************** Loading dots ****************************/

.loading-dots:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(83, 77, 100, 0);
    text-shadow: 0.25em 0 0 rgba(83, 77, 100, 0), 0.5em 0 0 rgba(83, 77, 100, 0);
  }
  40% {
    color: rgb(83, 77, 100);
    text-shadow: 0.25em 0 0 rgba(83, 77, 100, 0), 0.5em 0 0 rgba(83, 77, 100, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 rgb(83, 77, 100), 0.5em 0 0 rgba(83, 77, 100, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 rgb(83, 77, 100), 0.5em 0 0 rgb(83, 77, 100);
  }
}

[role="ode-modal-page"] .dataTables_length label{
  width: 180px;
}
[role="ode-modal-page"] .dataTables_length select{
  width: 35%;
  line-height: 16px;
}